<% @posts.each do |post| %>
  <div class="post-container mb-4">
    <div class="card shadow-sm border-light rounded" style="max-width: 600px; margin: auto;">
      <div class="card-body">
        <div class="row">
          <% if post.images.attached? %>
            <div class="col-12 d-flex justify-content-center mb-3">
              <div class="image-container" style="max-width: 200px;">
                <% post.images.each do |image| %>
                  <%= image_tag(image, class: "post-image img-fluid rounded", data: { toggle: "modal", target: "#imageModal", image_url: url_for(image) }) %>
                <% end %>
              </div>
            </div>
          <% else %>
            <p class="no-image text-muted text-center">No image available</p>
          <% end %>

          <div class="col-12">
            <p class="post-description text-center" style="font-size: 1.1rem; color: #555;"><%= post.description %></p>
          </div>

          <% if post.user %> <!-- Verifica si el usuario existe -->
            <div class="col-12">
              <p class="post-owner-email text-center text-muted" style="font-size: 1rem;">Email: <%= post.user.email %></p>
            </div>
          <% else %>
            <div class="col-12">
              <p class="post-owner-email text-center text-muted" style="font-size: 1rem;">Email: Usuario no disponible</p>
            </div>
          <% end %>

          <div class="col-12 mt-3 text-center">
            <% if post.user == current_user %>
              <div class="d-flex flex-column align-items-center gap-3">
                <%= button_to "Destroy", post, method: :delete, data: { confirm: "¿Estás seguro de que quieres eliminar este post?" }, class: "btn btn-danger btn-sm" %>
                <%= link_to "Edit", edit_post_path(post), class: "btn btn-warning btn-sm" %>
              </div>
            <% end %>
            <%= link_to "Show", post, class: "btn btn-info btn-sm mt-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
